# ansible/roles/wordpress/templates/aws-secrets.yml.j2
apiVersion: v1
kind: Secret
metadata:
  name: wordpress-secrets
  namespace: default
type: Opaque
stringData:
  WORDPRESS_DB_HOST: "{{ wordpress_db_host }}"
  WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
  WORDPRESS_DB_PASSWORD: "{{ wordpress_db_password }}"
  WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"