# roles/wordpress/templates/configmap.yaml.j2
apiVersion: v1
kind: ConfigMap
metadata:
  name: wordpress-config
  namespace: {{ wp_namespace }}
data:
  WORDPRESS_CONFIG_EXTRA: |
    define('WP_HOME', 'https://{{ wp_domain }}');
    define('WP_SITEURL', 'https://{{ wp_domain }}');
    define('MYSQL_CLIENT_FLAGS', MYSQLI_CLIENT_SSL);