# ansible/roles/wordpress/templates/ingress.yaml.j2
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wordpress-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
  - host: "{% if environment == 'prod' %}mmustar.fr{% else %}test.mmustar.fr{% endif %}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: wordpress
            port:
              number: 80