# roles/wordpress/templates/storage.yaml.j2
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ storage_size }}"
  storageClassName: "{{ storage_class_name }}"