---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "{{ storage_class_name }}"
  resources:
    requests:
      storage: "{{ storage_size }}"