## Wordpress Helm values
wordpressUsername: {{ mysql_user }}
wordpressPassword: {{ mysql_password }}
wordpressDatabase: {{ mysql_database }}
wordpressConfigureCache: true

externalDatabase:
  host: {{ mysql_host }}
  port: {{ mysql_port }}
  user: {{ mysql_user }}
  password: {{ mysql_password }}
  database: {{ mysql_database }}

mariadb:
  enabled: false

persistence:
  enabled: true
  size: 10Gi
  storageClass: "local-path"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

wordpressConfigureCache: true
memcached:
  enabled: true

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

extraVolumeMounts:
  - name: wordpress-persistent-storage
    mountPath: /var/www/html

existingSecret: "wordpress-secrets"