<?php
// ** Récupération des secrets depuis le fichier monté par CSI Driver ** //
$secrets = json_decode(file_get_contents('/mnt/secrets-store/book'), true);

// ** Paramètres de connexion à la base de données ** //
define('DB_NAME', $secrets['MYSQL_DATABASE']);
define('DB_USER', $secrets['MYSQL_USER']);
define('DB_PASSWORD', $secrets['MYSQL_PASSWORD']);
define('DB_HOST', $secrets['MYSQL_HOST'] . ':' . $secrets['MYSQL_PORT']);
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

// ** Clés d'authentification WordPress ** //
define('AUTH_KEY', $secrets['AUTH_KEY']);
define('SECURE_AUTH_KEY', $secrets['SECURE_AUTH_KEY']);
define('LOGGED_IN_KEY', $secrets['LOGGED_IN_KEY']);
define('NONCE_KEY', $secrets['NONCE_KEY']);
define('AUTH_SALT', $secrets['AUTH_SALT']);
define('SECURE_AUTH_SALT', $secrets['SECURE_AUTH_SALT']);
define('LOGGED_IN_SALT', $secrets['LOGGED_IN_SALT']);
define('NONCE_SALT', $secrets['NONCE_SALT']);

$table_prefix = 'wp_';

// Mode débogage WordPress
define('WP_DEBUG', false);

if ( !defined('ABSPATH') ) {
    define('ABSPATH', dirname(__FILE__) . '/');
}

require_once(ABSPATH . 'wp-settings.php');
?>
