<?php
// ** Database settings - You can get this info from your web host ** //
define('DB_NAME', '{{ mysql_database }}');
define('DB_USER', '{{ mysql_user }}');
define('DB_PASSWORD', '{{ mysql_password }}');
define('DB_HOST', '{{ mysql_host }}:{{ mysql_port }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

// ** WordPress URLs ** //
define('WP_HOME', '{{ wordpress_site_url }}');
define('WP_SITEURL', '{{ wordpress_site_url }}');

// ** Authentication unique keys and salts from AWS Secrets ** //
define('AUTH_KEY',         '{{ secret_output.stdout | from_json | json_query("AUTH_KEY") }}');
define('SECURE_AUTH_KEY',  '{{ secret_output.stdout | from_json | json_query("SECURE_AUTH_KEY") }}');
define('LOGGED_IN_KEY',    '{{ secret_output.stdout | from_json | json_query("LOGGED_IN_KEY") }}');
define('NONCE_KEY',        '{{ secret_output.stdout | from_json | json_query("NONCE_KEY") }}');
define('AUTH_SALT',        '{{ secret_output.stdout | from_json | json_query("AUTH_SALT") }}');
define('SECURE_AUTH_SALT', '{{ secret_output.stdout | from_json | json_query("SECURE_AUTH_SALT") }}');
define('LOGGED_IN_SALT',   '{{ secret_output.stdout | from_json | json_query("LOGGED_IN_SALT") }}');
define('NONCE_SALT',       '{{ secret_output.stdout | from_json | json_query("NONCE_SALT") }}');

$table_prefix = 'wp_';

// Enable debug mode
define('WP_DEBUG', false);

if (!defined('ABSPATH')) {
    define('ABSPATH', dirname(__FILE__) . '/');
}

// Sets up WordPress vars and included files
require_once(ABSPATH . 'wp-settings.php');