[server]
; Écoute sur toutes les interfaces (0.0.0.0)
http_addr =
; Port personnalisé pour Grafana (ici 8080)
http_port = 8080

; Vous pouvez ajouter d'autres paramètres si besoin
; Par exemple, le contexte de l'URL :
; root_url = %(protocol)s://%(domain)s:%(http_port)s/
